#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "webtrees"
name = "Webtrees"
description.en = "Web-based genealogy application"
description.fr = "Logiciel libre de généalogie en ligne"

version = "2.1.20~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-or-later"
website = "https://www.webtrees.net"
demo = "https://dev.webtrees.net/demo-stable/index.php?route=%2Fdemo-stable%2Ftree%2Fdemo"
admindoc = "https://wiki.webtrees.net"
code = "https://github.com/fisharebest/webtrees"

[integration]
yunohost = ">= 11.2.20"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/webtrees"

    [install.admin_username]
    ask.en = "Choose an admin username (Not a LDAP User)"
    ask.fr = "Choisissez un nom d'utilisateur pour l'administrateur de Webtrees (ne doit pas être un utilisateur YunoHost existant)"
    type = "string"
    example = "john"

    [install.admin_name]
    ask.en = "Name of the user (Not a LDAP User)"
    ask.fr = "Nom de cet utilisateur"
    type = "string"
    example = "john doe"

    [install.admin_email]
    ask.en = "Admin email (All the new registration will be sent on this email)"
    ask.fr = "Adresse email de l'administrateur (Toutes les nouvelles inscriptions seront envoyées à cette adresse)"
    type = "string"
    example = "admin@example.com"

    [install.init_main_permission]
    help.en = "If checked, Webtrees will be public"
    help.fr = "Si cochée, Webtrees sera publique"
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/fisharebest/webtrees/releases/download/2.1.20/webtrees-2.1.20.zip"
        sha256 = "0e2f9ccf601e5d4579ef90d727b1630620bc22b9ef66c4aacbaf7329b3c7b49d"
        autoupdate.strategy = "latest_github_tag"
        autoupdate.asset = "*.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "mariadb-server",
        "php8.3-mbstring",
        "php8.3-mysql",
        "php8.3-zip",
        "php8.3-gd",
        "php8.3-xml",
        "php8.3-curl",
        "php8.3-intl",
        "mailutils",
    ]

    [resources.database]
    type = "mysql"
